<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<!-- 리뷰리스트 -->
	<entry key="selectReviewList">
		SELECT
		       REVIEW_NO
		     , RES_NAME
		     , REVIEW_CONTENT
		     , STAR
		     , TO_CHAR(CREATE_DATE, 'YYYY/MM/DD') "CREATE_DATE"
		  FROM REVIEW V
		  JOIN BOOK B ON (V.BOOK_NO = B.BOOK_NO )
		  JOIN RESTAURANT R ON (B.RES_NO = R.RES_NO)
		  JOIN ATTACHMENT A ON (REVIEW_NO = REF_BNO)
		 WHERE V.STATUS = 'Y'
		   AND A.BOARD_TYPE = 'R'
		 ORDER
            BY REVIEW_NO DESC	  
	</entry>

	<!-- 리뷰쓰기 -->
	<entry key="insertContentReview">
		INSERT
		  INTO REVIEW
		     (
		       REVIEW_NO
		     , RES_NO
		     , BOOK_NO
		     , USER_NO
		     , REVIEW_CONTENT
		     , STAR
		     ) 
		VALUES 
		     (
		       SEQ_RVNO.NEXTVAL
		     , ? <!-- 선택한업체번호 -->
			 , ? <!-- 예약번호 -->
		     , ? <!-- 로그인한회원번호 -->
		     , ? <!-- 사용자가입력한내용 -->
		     , ? <!-- 사용자가선택한별점 -->
		     )
	</entry>
	
	<!-- 리뷰사진첨부 -->
	<entry key="insertAttachmentList">
		INSERT
		  INTO ATTACHMENT
		     (
		       FILE_NO
		     , REF_BNO
		     , ORIGIN_NAME
		     , CHANGE_NAME
		     , FILE_PATH
		     , BOARD_TYPE
		     )
	    VALUES
	         (
	           SEQ_ATNO.NEXTVAL
	         , SEQ_RVNO.CURRVAL
	         , ? <!-- 첨부파일의원본명 -->
	         , ? <!-- 첨부파일의실제업로드명 -->
	         , ? <!-- 저장경로 -->
	         , ? <!-- 타입 -->
	         )
	</entry>
	
	




</properties>