<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectSearch">
		SELECT
	        RES_NO
	      , RES_NAME
	      , CEO
	      , PERMIT_NO
	      , ADDRESS
	      , LOCAL_CT
	      , DLOCAL_CT
	      , PHONE
	      , CELPHONE
	      , EMAIL
	      , APPLY_DATE
	      , LONGTITUDE
	      , LATITUDE
	      , FOOD_CT
	   FROM RESTAURANT
	  WHERE RES_NAME LIKE '%' || ? || '%'
	</entry>
</properties>