<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="">
		
	</entry>
	<entry key="selectRes">
		SELECT 
			   RES_NO
			 , RES_NAME
			 , CEO
			 , PERMIT_NO
			 , ADDRESS
			 , D_ADDRESS
			 , PHONE
			 , PARKING
			 , LONGTITUDE
			 , LATITUDE
			 , R_IMG
			 , OPEN
			 , CLOSE
			 , BREAK_S
			 , BREAK_E
			 , FOOD_CT
			 , (
			 	SELECT COUNT(REVIEW_NO)
			 	  FROM REVIEW
			 	 WHERE RES_NO = ?
			 	) "REVIEW_COUNT"
			 , (
			 	SELECT AVG(STAR)
			 	  FROM REVIEW
			 	 WHERE RES_NO = ?
			 	) "REVIEW_AVG"
		  FROM RESTAURANT
		 WHERE RES_NO = ?
	       AND STATUS = 'Y'
	</entry>
</properties>