<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectCountUp">
		UPDATE RESTAURANT
		   SET COUNT = COUNT + 1
	 	 WHERE RES_NO = ?
	 	   AND STATUS = 'Y'
	</entry>
	
	<entry key="selectRes">
		SELECT 
			   RES_NO
			 , RS.RES_NAME
			 , CEO
			 , PERMIT_NO
			 , ADDRESS
			 , D_ADDRESS
			 , PHONE
			 , PARKING
			 , LONGTITUDE
			 , LATITUDE
			 , R_IMG
			 , OPEN
			 , CLOSE
			 , BREAK_S
			 , BREAK_E
			 , NVL(BREAK_S, '') "BREAK_S"
			 , NVL(BREAK_E, '') "BREAK_E"
			 , FOOD_CT
		  FROM RESTAURANT RS
		 WHERE RS.RES_NO = ?
	       AND STATUS = 'Y'
	</entry>
	
	<entry key="selectReviewData">
		SELECT (
			 	SELECT COUNT(REVIEW_NO)
			 	  FROM REVIEW
			 	 WHERE RES_NO = ?
			 	) "REVIEW_COUNT"
			 , (
			 	SELECT AVG(STAR)
			 	  FROM REVIEW
			 	 WHERE RES_NO = ?
			 	) "REVIEW_AVG"
			 , COUNT
		  FROM RESTAURANT RS
		 WHERE RS.RES_NO = ?
	       AND STATUS = 'Y'
	</entry>
	
	<entry key="selectMenu">
		SELECT 
			   MENU_NO
			 , RS.RES_NO
			 , MENU_NAME
			 , PRICE
			 , MENU_DES
			 , M_IMG
		  FROM RESTAURANT RS
		  JOIN MENU M ON (RS.RES_NO = M.RES_NO)
		 WHERE RS.RES_NO = ?
	       AND STATUS = 'Y'
	</entry>
	
	<entry key="selectReview">
		SELECT
			   REVIEW_NO
			 , RE.RES_NO
			 , RE.USER_NO
			 , BOOK_NO
			 , REVIEW_CONTENT
			 , RE.STAR
			 , CREATE_DATE
			 , RE.MODIFY_DATE
			 , GOOD
			 , RE.COUNT
             , NICKNAME
		  FROM REVIEW RE
          JOIN TB_USER U ON (U.USER_NO = RE.USER_NO)
		 WHERE RE.RES_NO = ?
		   AND RE.STATUS = 'Y' 
	</entry>
	
	<entry key="selectAttachment">
		SELECT 
			   RES_NO
			 , REF_BNO
			 , CHANGE_NAME
			 , FILE_PATH
		  FROM ATTACHMENT
		 WHERE REF_BNO = ?
		   AND RES_NO = ?
		   AND BOARD_TYPE = 'R'
		   AND STATUS = 'Y'
	</entry>
	
	<entry key="selectPoint">
		SELECT POINT_NOW
          FROM (SELECT NVL(POINT_NOW, 0) "POINT_NOW"
                  FROM POINT
                 WHERE USER_NO = ?
                 ORDER 
                    BY POINT_NO DESC)
          WHERE ROWNUM = 1
	</entry>
	
	<entry key="insertBook">
		INSERT 
		  INTO BOOK
		     (
		       BOOK_NO
			 , USER_NO
			 , RES_NO
			 , BOOK_NAME
			 , BOOK_PHONE
			 , BOOK_DATE
			 , BOOK_TIME
			 , PEOPLE
			 , EMAIL
			 , REQUEST
			 , STATUS
             )
		VALUES
		     (
		       SEQ_BKNO.NEXTVAL
		     , ?
		     , ?
		     , ?
		     , ?
		     , ?
		     , ?
		     , ?
		     , ?
		     , ?
		     , 'B'
		     )
	</entry>
	
	<entry key="insertPayment">
		INSERT 
		  INTO PAYMENT
		     (
		       PAY_NO
			 , BOOK_NO
			 , RES_NO
			 , USER_NO
			 , PAY_POINT
			 , PAY_TOTAL
			 , PAY_OP
			 , STATUS
             )
		VALUES
		     (
		       SEQ_PMNO.NEXTVAL
		     , SEQ_BKNO.CURRVAL
		     , ?
		     , ?
		     , ?
		     , ?
		     , ?
		     , 'Y'
		     )
	</entry>
	
	<entry key="insertPayPoint">
		INSERT 
		  INTO POINT
		     (
		       POINT_NO
			 , PAY_NO
			 , USER_NO
			 , RES_NO	
			 , POINT_NAME
			 , STATUS
			 , POINT_TRADE
			 , POINT_NOW
             )
		VALUES
		     (
		       SEQ_PNO.NEXTVAL
		     , SEQ_PMNO.CURRVAL
		     , ?
		     , ?
		     , ?
		     , 'U'
		     , ?
		     , (SELECT POINT_NOW - ?
                  FROM (SELECT NVL(POINT_NOW, 0) "POINT_NOW"
                          FROM POINT
                         WHERE USER_NO = ?
                         ORDER 
                            BY POINT_NOW DESC)
                  WHERE ROWNUM = 1)
		     )
	</entry>
	
	<entry key="insertSavePoint">
		INSERT 
		  INTO POINT
		     (
		       POINT_NO
			 , PAY_NO
			 , USER_NO
			 , RES_NO	
			 , POINT_NAME
			 , STATUS
			 , POINT_TRADE
			 , POINT_NOW
             )
		VALUES
		     (
		       SEQ_PNO.NEXTVAL
		     , SEQ_PMNO.CURRVAL
		     , ?
		     , ?
		     , ?
		     , 'B'
		     , ?
		     , (SELECT POINT_NOW + ?
                  FROM (SELECT NVL(POINT_NOW, 0) "POINT_NOW"
                          FROM POINT
                         WHERE USER_NO = ?
                         ORDER 
                            BY POINT_NO DESC)
                  WHERE ROWNUM = 1)
		     )
	</entry>
	
	<entry key="selectBookList">
		SELECT B.BOOK_NO
		     , B.USER_NO
		     , B.RES_NO
		     , RES_NAME
		     , BOOK_NAME
		     , BOOK_PHONE
		     , BOOK_DATE
		     , BOOK_TIME
		     , PEOPLE
		     , B.EMAIL
		     , REQUEST
		     , B.STATUS
		     , B.MODIFY_DATE
		     , BOOK_A
             , PAY_TOTAL
             , PAY_POINT
             , PAY_OP
             , R_IMG
		  FROM BOOK B
		  JOIN RESTAURANT R ON (B.RES_NO = R.RES_NO)
          JOIN PAYMENT P ON (B.BOOK_NO = P.BOOK_NO)
		 WHERE B.USER_NO = ?
		   AND B.STATUS IN ('B', 'D')
		 ORDER
		    BY B.BOOK_NO DESC
		   
	</entry>
	
	<entry key="selectBook">
		SELECT
		       B.BOOK_NO
		     , RES_NAME
		     , BOOK_NAME
		     , BOOK_PHONE
		     , BOOK_DATE
		     , BOOK_TIME
		     , PEOPLE
		     , NVL(B.EMAIL, '') "EMAIL"
		     , REQUEST
		     , B.STATUS
		     , B.MODIFY_DATE
		     , BOOK_A
		     , PAY_TOTAL
		     , PAY_POINT
		     , PAY_OP
		     , ADDRESS
		     , D_ADDRESS
		     , LONGTITUDE
		     , LATITUDE
		     , PAY_DATE
		     , POINT_TRADE
		     , POINT_NOW
		     , PHONE "res_phone"
		  FROM BOOK B
		  JOIN RESTAURANT RE ON (B.RES_NO = RE.RES_NO)
		  JOIN PAYMENT P ON (B.BOOK_NO = P.BOOK_NO)
		  JOIN POINT PO ON (P.PAY_NO = PO.PAY_NO)
		 WHERE B.BOOK_NO = ?
	</entry>
	
	<entry key="bookCancel">
		UPDATE 
		       BOOK
		   SET STATUS = 'C'
		 WHERE BOOK_NO = ?
	</entry>
	
	<entry key="selectBookCancel">
		SELECT 
			   B.USER_NO
			 , B.RES_NO
		     , P.STATUS
		     , PAY_TOTAL
		     , PAY_POINT
		     , PAY_OP
		     , PAY_NO
             , RES_NAME
		  FROM BOOK B
		  JOIN PAYMENT P ON (B.BOOK_NO = P.BOOK_NO)
          JOIN restaurant R ON (B.RES_NO = R.RES_NO)
		 WHERE B.BOOK_NO = ?
	</entry>
	
	<entry key="paymentCancel">
		INSERT
		  INTO PAYMENT
		     (
		       PAY_NO
			 , BOOK_NO
			 , RES_NO
			 , USER_NO
			 , PAY_POINT
			 , PAY_TOTAL
			 , PAY_OP
			 , STATUS
		     )
		VALUES
			 (
			   SEQ_PMNO.NEXTVAL
			 , ?
			 , ?
			 , ?
			 , - ?
			 , - ?
			 , ?
			 , 'C'
			 )
	</entry>
	
	<entry key="cancelPayPoint">
		INSERT
		  INTO POINT
		     (
		       POINT_NO
		     , PAY_NO
			 , USER_NO
			 , RES_NO
			 , POINT_NAME
			 , STATUS
			 , POINT_TRADE
			 , POINT_NOW
		     )
		VALUES
		     (
		       SEQ_PNO.NEXTVAL
		     , ?
		     , ?
		     , ?
		     , ?
		     , 'C'
		     , SELECT NVL(SUM(-POINT_TRADE), 0) 
				 FROM POINT
				WHERE PAY_NO = ?
				  AND STATUS = 'B';
				 FROM POINT
				WHERE PAY_NO = ?
		     , SELECT POINT_NOW - SELECT NVL(SUM((SELECT SUM(-POINT_TRADE) 
                 				 					FROM POINT
                 								   WHERE PAY_NO = ?
                   				  					 AND STATUS = 'B') + (SELECT SUM(POINT_TRADE)
                                         				 					FROM POINT
                                         								   WHERE PAY_NO = ?
                                           				  					 AND STATUS = 'U')), 0) "POINT_NOW"
			     FROM POINT
			    WHERE PAY_NO = ?
			      AND ROWNUM = 1
			    ORDER
			       BY POINT_NO ASC
	</entry>
	
	<entry key="cancelSavePoint">
	
	</entry>
	
	
</properties>