<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectCountUp">
		UPDATE RESTAURANT
		   SET COUNT = COUNT + 1
	 	 WHERE RES_NO = ?
	 	   AND STATUS = 'Y'
	</entry>
	<entry key="selectRes">
		SELECT 
			   RES_NO
			 , RS.RES_NAME
			 , CEO
			 , PERMIT_NO
			 , ADDRESS
			 , D_ADDRESS
			 , PHONE
			 , PARKING
			 , LONGTITUDE
			 , LATITUDE
			 , R_IMG
			 , OPEN
			 , CLOSE
			 , BREAK_S
			 , BREAK_E
			 , FOOD_CT
			 , (
			 	SELECT COUNT(REVIEW_NO)
			 	  FROM REVIEW
			 	 WHERE RES_NO = ?
			 	) "REVIEW_COUNT"
			 , (
			 	SELECT AVG(STAR)
			 	  FROM REVIEW
			 	 WHERE RES_NO = ?
			 	) "REVIEW_AVG"
			 , COUNT
		  FROM RESTAURANT RS
		 WHERE RS.RES_NO = ?
	       AND STATUS = 'Y'
	</entry>
	<entry key="selectMenu">
		SELECT 
			   MENU_NO
			 , MENU_NAME
			 , PRICE
			 , MENU_DES
			 , M_IMG
		  FROM RESTAURANT RS
		  JOIN MENU M ON (RS.RES_NO = M.RES_NO)
		 WHERE RS.RES_NO = ?
	       AND STATUS = 'Y'
	</entry>
	<entry key="selectReview">
		SELECT
			   REVIEW_NO
			 , RES_NO
			 , USER_NO
			 , REVIEW_TITLE
			 , REVIEW_CONTENT
			 , STAR
			 , CREATE_DATE
			 , MODIFY_DATE
			 , STATUS
			 , GOOD
			 , COUNT	
		  FROM REVIEW RE
		  JOIN RESTAURANT RS (RE.RES_NO = RS.RES_NO)
		 WHERE RE.RES_NO
		   AND RE.STATUS = 'Y'
	</entry>
</properties>