<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="loginRest">
		SELECT
			   RES_NO
			 , RES_NAME
			 , CEO
			 , PERMIT_NO
			 , ADDRESS
			 , D_ADDRESS
			 , LOCAL_CT
			 , DLOCAL_CT
			 , PHONE
			 , CELLPHONE
			 , EMAIL
			 , PARKING
			 , STATUS
			 , LONGTITUDE
			 , LATITUDE
			 , R_IMG
			 , OPEN
			 , CLOSE
			 , BREAK_S
			 , BREAK_E
			 , FOOD_CT
		 FROM RESTAURANT
	    WHERE RES_NO=?
	      AND USER_PWD=?
	      AND STATUS IN ('Y', 'C')		   
	</entry>
	<entry key="updatePwd">
		UPDATE RESTAURANT
           SET USER_PWD = ?
             , STATUS = 'Y'
         WHERE RES_NO = ?	
	</entry>
		
	<entry key="updateHours">
		UPDATE RESTAURANT
           SET OPEN = ?
             , CLOSE = ?
             , BREAK_S = ?
             , BREAK_E = ?
         WHERE RES_NO = ?		
	</entry>
	
	<entry key="selectRest">
		SELECT
			   RES_NO
			 , RES_NAME
			 , CEO
			 , PERMIT_NO
			 , ADDRESS
			 , D_ADDRESS
			 , LOCAL_CT
			 , DLOCAL_CT
			 , PHONE
			 , CELLPHONE
			 , EMAIL
			 , PARKING
			 , STATUS
			 , LONGTITUDE
			 , LATITUDE
			 , R_IMG
			 , OPEN
			 , CLOSE
			 , BREAK_S
			 , BREAK_E
			 , FOOD_CT
		 FROM RESTAURANT
	    WHERE RES_NO=?
	      AND STATUS = 'Y'		
	</entry>
	<entry key="insertMenu">
		INSERT
		  INTO MENU
		  (
		    MENU_NO
		  , RES_NO
		  , MENU_NAME
		  , PRICE
		  , MENU_DES
		  , M_IMG  
		  )
		  VALUES
		  (
		    SEQ_MNO.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?  
		  )
	</entry>
	<entry key="selectMenu">
		SELECT
		       RES_NO
		     , MENU_NO
		     , MENU_NAME
		     , PRICE
		     , MENU_DES
		     , M_IMG
		  FROM MENU
		 WHERE RES_NO=?
		 ORDER
		    BY MENU_NO       
	</entry>
	<entry key="updateMenu">
		UPDATE MENU
           SET MENU_NAME = ?
             , PRICE = ?
             , MENU_DES = ?
             , M_IMG = ?
         WHERE MENU_NO = ?		
	</entry>
	<entry key="updateInfo">
		UPDATE RESTAURANT
           SET ADDRESS = ?
			 , D_ADDRESS = ?
			 , PHONE = ?
			 , CELLPHONE = ?
			 , EMAIL = ?
			 , PARKING = ?
			 , R_IMG = ?
			 , OPEN = ?
			 , CLOSE = ?
			 , BREAK_S = ?
			 , BREAK_E = ?
			 , FOOD_CT = ?
         WHERE RES_NO = ?	
	</entry>
	<entry key="deleteMenu">
		DELETE
		  FROM MENU
		 WHERE MENU_NO = ? 
	</entry>
	<entry key="selectQuestion">
		SELECT
		       Q_NO
		     , CATEGORY
		     , Q_TITLE
		     , USER_ID
		     , Q.STATUS
		     , TO_CHAR(CREATE_DATE, 'YYYY/MM/DD') "CREATE_DATE"
		  FROM QUESTION Q
		  JOIN TB_USER ON (Q_PERSON=USER_NO)
		 WHERE A_PERSON = ?
		 ORDER
		    BY Q.STATUS, CREATE_DATE DESC	
	</entry>
	<entry key="selectDetailQuestion">
		SELECT
		       Q_NO
		     , CATEGORY
		     , Q_TITLE
		     , USER_ID
		     , Q.STATUS
		     , TO_CHAR(CREATE_DATE, 'YYYY/MM/DD') "CREATE_DATE"
		     , Q_CONTENT
		     , A_CONTENT
		  FROM QUESTION Q
		  JOIN TB_USER ON (Q_PERSON=USER_NO)
		 WHERE Q_NO = ?
	</entry>
	<entry key="updateQuestion">
		UPDATE QUESTION
           SET MODIFY_DATE = SYSDATE
			 , A_DATE = SYSDATE
			 , STATUS = 'Y'
			 , A_CONTENT = ?
         WHERE Q_NO = ?	
	</entry>
	<entry key="selectReview">
		SELECT
		       REVIEW_NO
		     , USER_ID
		     , REVIEW_CONTENT
		     , STAR
		     , BOOK_NO
		     , TO_CHAR(CREATE_DATE, 'YYYY/MM/DD') "CREATE_DATE"
		     , GOOD
		  FROM REVIEW
		  JOIN TB_USER USING (USER_NO)
		 WHERE RES_NO = ?
		 ORDER
		    BY REVIEW_NO DESC		
	</entry>
	<entry key="selectNewQuestion">
		SELECT
		       Q_NO
		     , Q_TITLE
		     , Q_CONTENT
		     , TO_CHAR(CREATE_DATE, 'YYYY/MM/DD') "CREATE_DATE"
		  FROM QUESTION 
		 WHERE A_PERSON = ?
		   AND STATUS= 'N'
		 ORDER
		    BY CREATE_DATE DESC		
	</entry>
		<entry key="selectNewReview">
		SELECT
		       REVIEW_NO
		     , TO_CHAR(CREATE_DATE, 'YYYY/MM/DD') "CREATE_DATE"
		     , REVIEW_CONTENT
		  FROM REVIEW 
		 WHERE RES_NO = ?
		   AND GOOD = 'N'
		 ORDER
		    BY CREATE_DATE DESC		
	</entry>
	<entry key="selectReviewDatail">
		SELECT
		       REVIEW_NO
		     , USER_ID
		     , REVIEW_CONTENT
		     , STAR
		     , BOOK_NO
		     , TO_CHAR(CREATE_DATE, 'YYYY/MM/DD') "CREATE_DATE"
		     , GOOD
		  FROM REVIEW
		  JOIN TB_USER USING (USER_NO)
		 WHERE REVIEW_NO = ?
	</entry>
	<entry key="selectReviewDetail">
		SELECT
		       REVIEW_NO
		     , USER_ID
		     , REVIEW_CONTENT
		     , STAR
		     , BOOK_NO
		     , TO_CHAR(CREATE_DATE, 'YYYY/MM/DD') "CREATE_DATE"
		     , GOOD
		  FROM REVIEW
		  JOIN TB_USER USING (USER_NO)
		 WHERE REVIEW_NO = ?
	</entry>	
	<entry key="insertBlack">
		INSERT
		  INTO BLACK
		  (
		    BLACK_NO
		  ,  
		  )
		  VALUES
		  (
		    SEQ_MNO.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?  
		  )	
	</entry>
</properties>
