<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="loginRest">
		SELECT
			   RES_NO
			 , RES_NAME
			 , CEO
			 , PERMIT_NO
			 , ADDRESS
			 , D_ADDRESS
			 , LOCAL_CT
			 , DLOCAL_CT
			 , PHONE
			 , CELLPHONE
			 , EMAIL
			 , PARKING
			 , STATUS
			 , LONGTITUDE
			 , LATITUDE
			 , R_IMG
			 , OPEN
			 , CLOSE
			 , BREAK_S
			 , BREAK_E
			 , FOOD_CT
		 FROM RESTAURANT
	    WHERE RES_NO=?
	      AND USER_PWD=?
	      AND STATUS IN ('Y', 'C')		   
	</entry>
	<entry key="updatePwd">
		UPDATE RESTAURANT
           SET USER_PWD = ?
             , STATUS = 'Y'
         WHERE RES_NO = ?	
	</entry>
		
	<entry key="updateHours">
		UPDATE RESTAURANT
           SET OPEN = ?
             , CLOSE = ?
             , BREAK_S = ?
             , BREAK_E = ?
         WHERE RES_NO = ?		
	</entry>
	
	<entry key="selectRest">
		SELECT
			   RES_NO
			 , RES_NAME
			 , CEO
			 , PERMIT_NO
			 , ADDRESS
			 , D_ADDRESS
			 , LOCAL_CT
			 , DLOCAL_CT
			 , PHONE
			 , CELLPHONE
			 , EMAIL
			 , PARKING
			 , STATUS
			 , LONGTITUDE
			 , LATITUDE
			 , R_IMG
			 , OPEN
			 , CLOSE
			 , BREAK_S
			 , BREAK_E
			 , FOOD_CT
		 FROM RESTAURANT
	    WHERE RES_NO=?
	      AND STATUS = 'Y'		
	</entry>
	<entry key="insertMenu">
		INSERT
		  INTO MENU
		  (
		    MENU_NO
		  , RES_NO
		  , MENU_NAME
		  , PRICE
		  , MENU_DES
		  , M_IMG  
		  )
		  VALUES
		  (
		    SEQ_MNO.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?  
		  )
	</entry>
	<entry key="selectMenu">
		SELECT
		       RES_NO
		     , MENU_NO
		     , MENU_NAME
		     , PRICE
		     , MENU_DES
		     , M_IMG
		  FROM MENU
		 WHERE RES_NO=?
		 ORDER
		    BY MENU_NO       
	</entry>
	<entry key="updateMenu">
		UPDATE MENU
           SET MENU_NAME = ?
             , PRICE = ?
             , MENU_DES = ?
             , M_IMG = ?
         WHERE MENU_NO = ?		
	</entry>
	<entry key="updateInfo">
		UPDATE RESTAURANT
           SET ADDRESS = ?
			 , D_ADDRESS = ?
			 , PHONE = ?
			 , CELLPHONE = ?
			 , EMAIL = ?
			 , PARKING = ?
			 , R_IMG = ?
			 , OPEN = ?
			 , CLOSE = ?
			 , BREAK_S = ?
			 , BREAK_E = ?
			 , FOOD_CT = ?
         WHERE RES_NO = ?	
	</entry>
	<entry key="deleteMenu">
		DELETE
		  FROM MENU
		 WHERE MENU_NO = ? 
	</entry>

</properties>
