<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectListCount">
		SELECT 
		       COUNT(*) count
		  FROM RESTAURANT
		 WHERE LOCAL_CT = ?
           AND DLOCAL_CT = ?
		   AND FOOD_CT = ?
	</entry>
	
	<entry key="selectList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		                  SELECT 
		                           RES_NAME
		                         , ADDRESS || ' ' || D_ADDRESS "ADDRESS"
		                         , R_IMG
		                         , FOOD_CT
		                         , STAR 
		                         , COUNT
		                      FROM RESTAURANT  
		                      JOIN REVIEW USING (RES_NO)
		                     WHERE LOCAL_CT = ?
		                       AND DLOCAL_CT = ?
		                       AND FOOD_CT = ?    
		               ) A
		        )
		    WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="insertRes">
		INSERT
		  INTO RESTAURANT
		     (
		        RES_NO
		      , RES_NAME
		      , CEO
		      , PERMIT_NO
		      , ADDRESS
		      , LOCAL_CT
		      , DLOCAL_CT
		      , PHONE
		      , CELPHONE
		      , EMAIL
		      , APPLY_DATE
		      , LONGTITUDE
		      , LATITUDE
		      , FOOD_CT
		      , PARKING
		      )
		 VALUES
		      (
		        SEQ_RESNO.NEXTVAL
		      , ?
		      , ?
		      , ?
		      , ?
		      , '서울특별시'
		      , '은평구'
		      , ?
		      , ?
		      , ?
		      , SYSDATE
		      , '10'
		      , '20'
		      , ?
		      , ?
		      )
	</entry>
	
	<entry key="insertAttachment">
		INSERT
		  INTO ATTACHMENT
		  (
		    FILE_NO
		  , REF_BNO
		  , ORIGIN_NAME
		  , CHANGE_NAME
		  , FILE_PATH
		  , BOARD_TYPE
		  )
		  VALUES
		  (
		    SEQ_RESNO.NEXTVAL
		  , SEQ_RESNO.CURRVAL
		  , ?
		  , ?
		  , ?
		  , 'N'
		  )
	</entry>
	
	<entry key="selectSearch">
		SELECT
	        RES_NO
	      , RES_NAME
	      , CEO
	      , PERMIT_NO
	      , ADDRESS
	      , LOCAL_CT
	      , DLOCAL_CT
	      , PHONE
	      , CELPHONE
	      , EMAIL
	      , APPLY_DATE
	      , LONGTITUDE
	      , LATITUDE
	      , FOOD_CT
	   FROM RESTAURANT
	  WHERE RES_NAME LIKE '%' || ? || '%'
	</entry>
</properties>